<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
  <style>
    #download-pdf {
      position: fixed;
      top: 1em;
      right: 1em;
      font-family: "CV Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif;
      font-size: 0.85em;
    }
    #download-pdf a {
      color: #bc412b;
      text-decoration: none;
    }
    #download-pdf a:hover { color: #39f; }
    @media print { #download-pdf { display: none; } }
  </style>
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
  <div id="download-pdf">
    <a href="cv.pdf" download>&#8595; Download PDF</a>
  </div>
</body>
</html>